<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <div class="" >
                    <input id="name" type="text" name="input" value=""  placeholder="Name">
                    <div id="generate"  name=""  >Click</div>
                </div>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
                
                <div class="text">
                    <div>City:</div>
                    <div id = "city"></div>
                </div>
                <div class="text">
                    <div>Date:</div>
                    <div id = "date"></div> 
                </div> 

                <div class="text">
                    <div>Temperature:</div>
                    <div id = "temp"></div>
                </div>

          
            </section>
        </main>

        <footer>
            <p>This is Eleonora</p>
        </footer>
    </body>
</html>
